Employee_Producer/src/main/resources/employees.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://chubbindia.com/employees" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://chubbindia.com/employees" targetNamespace="http://chubbindia.com/employees">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://chubbindia.com/employees">
	
	<xs:element name="GetEmployeeDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:integer"/>
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GetEmployeeDetailsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EmpDetails" type="tns:EmpDetails"/>
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="EmpDetails">
		<xs:sequence>
			<xs:element name="id" type="xs:integer"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="address" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeeDetailsRequest">
    <wsdl:part element="tns:GetEmployeeDetailsRequest" name="GetEmployeeDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetEmployeeDetailsResponse">
    <wsdl:part element="tns:GetEmployeeDetailsResponse" name="GetEmployeeDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeePort">
    <wsdl:operation name="GetEmployeeDetails">
      <wsdl:input message="tns:GetEmployeeDetailsRequest" name="GetEmployeeDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetEmployeeDetailsResponse" name="GetEmployeeDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeePortSoap11" type="tns:EmployeePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetEmployeeDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetEmployeeDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetEmployeeDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeePortService">
    <wsdl:port binding="tns:EmployeePortSoap11" name="EmployeePortSoap11">
      <soap:address location="http://localhost:8089/chubb"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>